.wrapper {
  margin: 0;
  padding: 0;
  height: 100%;
  display: grid;
  grid-template:
    "title title" 1fr
    "products cart" 11fr / 7fr 5fr;

  .title {
    grid-area: title;
    background-color: #33cc66;
    margin: 0;
    padding: 1rem;
  }

  .product-list {
    grid-area: products;
    padding: 0 1rem;
  }

  .cart-list {
    grid-area: cart;
    padding: 0 1rem;
  }
}
