.wrapper {
  margin: 0;
  padding: 0;
  height: 100%;
  display: grid;
  grid-template:
    "title" 3rem
    "content" 11fr / auto;

  .title {
    grid-area: title;
    background-color: var(--pale-green);
    margin: 0;
    padding: 0 1rem;
    display: inline-grid;
    grid-template-areas: "title navigation";
    grid-template-columns: 3fr 9fr;
    align-items: center;

    h1 {
      grid-area: title;
      font-size: 1rem;
    }

    nav {
      grid-area: navigation;

      a {
        margin: 0 1rem;
        padding: 1rem;
        color: var(--pale-grey);
        text-decoration: none;

        &.active {
          background: var(--pale-grey);
          color: var(--pale-green);
          border-bottom: 0.1rem solid var(--pale-dark-green);
        }
      }
    }
  }

  .container {
    grid-area: content;
    margin: 0;
    padding: 1rem;
  }
}

.canvas {
  margin-left: 10px;
  position: absolute;
  top: 100;
  width: 5px;
  overflow: hidden;
}
