.wrapper {
  margin: 0;
  padding: 0;
  height: 100%;
  display: grid;
  grid-template:
    "title" 1fr
    "content" 11fr / auto;

  .title {
    grid-area: title;
    background-color: #33cc66;
    margin: 0;
    padding: 1rem;
  }

  .content {
    grid-area: content;
    margin: 0;
    padding: 1rem;
  }
}

.canvas {
  margin-left: 10px;
  position: absolute;
  top: 100;
  width: 5px;
  overflow: hidden;
}
